.bg1{
	background:gold;
} 
.bg2{
margin-top: 0px;
}
.bg4{
background: gold;	
}
body{
font-family: 'Great Vibes', cursive;
background-image:url(img/rawpixel-com-191102.jpg);
font-family: 'Caveat Brush', cursive;
background-color: grey;
}


/*.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}*/
